<!DOCTYPE html>
<html>
    <head>
        <title>
            date and time
        </title>
        <style>
            div{
                text-align: center;
                font-size: 40px;
                background-color: aliceblue;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        </style>
    </head>
    <body> 
        <div >
            <h1>
                The day  is {{day}} and the month is {{mont}} and the year is {{year}}}<br>
                The time is : {{Time}},<br>
            </h1>
            <h2>
                {{info.name}} <br>
                {{info.roll}} <br>
                {{info.age}} <br>
                {{info.Gender}}
            </h2>

            <h3>
                
            </h3>
        
        </div>
       
    </body>
</html>